<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<h2>Recordings</h2>
<%= render @location.recordings %>

<h2>Add Recording</h2>
<%= render "recordings/form" %>

<%= link_to 'Edit Location', edit_location_path(@location) %> |
<%= link_to 'Back to Locations', locations_path %>